body {
    width: 100%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 1920px) {
    body {
        background: url("img/background_image_1920.jpeg") fixed top;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-image: url("background_image.jpeg");
    }
}
@media screen and (max-aspect-ratio: 1/1 ) {
    body {
        background: url("img/background_image_portrait.jpeg") fixed top;
        background-size: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

/* links */
a:link {
    color: #265757;
}

a:link:hover {
    color: #588282;
}

a:visited {
        color: #6d4628;
}

a:visited:hover {
    color: #9e753c;
}

img {
    max-width: 100%;
}

/* navbar */
nav {
    margin: 0 auto;
    width: 100%;
    display: block;
    background-color: rgba(255,255,255,0);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0%;
    padding-top: 0%;
    position: relative;
}

nav ul.level1 {
    margin: auto;
}

nav ul.level1 > li > a {
    background-image: url("img/logo_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(0,0,0,0) !important; /* TODO: find a way to do this without !important */
    
}

/* Hide the link to the front page if we're on the front page */
nav ul.level1 > li > a.current {
    display: none;
}

nav ul li {
    display: inline;
}

nav:after, header:after, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.clear {
    width: 100%;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 0.75em 1.5em;
    margin: 0px;
    border-radius: 5px;
}

nav ul li a:link, nav ul li a:visited,
nav ul li a:link:hover, nav ul li a:visited:hover {
    color: black;
    text-decoration: none;
    font-family: "Arvo", serif;
    text-align: center;
}

nav ul li a:link:hover, nav ul li a:visited:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav ul li a.current {
    font-weight: normal;
}

nav ul.level2 {
    display: inline-block;
    overflow: visible;
}

nav ul.level2:after, nav ul.level1:after {
    display: block;
    clear: both;
}

nav ul.level2 > li {
}


nav ul.level2 > li > a {
    width: 100px;
}

nav ul.level1 > li > a {
}

nav ul li {
    position: relative;
}

nav ul.level3 {
    position: absolute;
    top: 140%;
    left: 0%;
    z-index: 10;
    width: 100%;
    margin-top: 1px;
/* hide by default */
    opacity: 0;
    display: none;
    background-color: rgba(255,255,255,1);
    border-radius: 0px 0px 5px 5px;
}
nav ul.level1 a{
    
}
nav ul.level3 a {
    margin-top: 4px;
    

}
nav ul.level2 > li.show > ul.level3 {
    opacity: 1;
    display: block;
}

nav ul.level3 li a {
    display: block;
}

#videoWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
#mainVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.centered{
    margin: auto;
}

#frontPage {
    width: 100%;
    top: 20%;
    position: absolute;
    text-align: center;
}

#logo {
    width: 1074px;
    height: auto;
}
#bar {
    width: 100%;
    height: 42px;
    display: block;
    background-color: rgba(172, 216, 255, 0.5);
}
/*
#navbar ul {
    width: 800;
    list-style-type: none;
}
#navbar li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    
}
#navbar li a {
    font-family: "Arvo", serif;
    list-style: none;
    text-align: center;
    display: block;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
#navbar li a:hover {
    background-color: aliceblue;
}
*/

main#country {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
    max-width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 110%;
}

main#country p{margin: 10px;}
main#country #countryDescription{
    float: right;
    width: 45%;
    height: auto;
    background-color: RGBA(190,190,190,0.4);
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
main#country #countryMap{
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
main#country #countryMap img{
    display: block;
    width:1024px;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
main#country .countryLocation{
    width: 78%;
    background-color: RGBA(190,190,190,0.4);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
main#country #countryOrder{
    float: right;
    width: 20%;
    background-color: RGBA(190,190,190,0.4);
    margin-top: 10px;
    border-radius: 10px;
}


/* start på css for locations */

main#location {
    position: absolute;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}
main#location section#locationDescription
{
    float:left;
    width: 40%;
    margin-top: 1%;
    margin-left: 5%;
    text-align: justify;
}
main#location section#locationDescription ul li 
{
    margin-top: 1%;
}
main#location section#locationOrder
{
    float: right;
    width: 40%;
    margin-top: 1%;
    margin-right: 5%;
    text-align: justify;
}
main#location section#locationIMG
{
    float: right;
    width: 40%;
    margin-top:6%;
    margin-bottom: 1%;
    margin-right: 5%;
    
}
main#location section#locationIMG img#bilde
{
    border-radius: 10px;
    height: auto;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

/* slutt på css for locations */


/* Start på css for contact us*/

main#contact {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;				
    background-color: rgba(255,255,255,0.5);		
    border-radius: 10px;		
    padding: 10px;		
    margin-bottom: 20px;		
    color: black;		
    font-size: 110%;
}
main#contact section#contactInfo {
    width: 40%;
    float: left;
}
main#contact section#FAQ{
    width: 40%;
    float: right;
}

/* CSS for collapse.css, hiding the content. */
.hide { 
    display:none; 
    border-radius: 5px;
    padding-left: 4px;
    border: solid 1px grey;
}
/* slutt på css for contact us*/

/* Start på css for about*/

main#about{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;				
    background-color: rgba(255,255,255,0.5);		
    border-radius: 10px;		
    padding-left: 50px;	
    padding-right: 50px;
    margin-bottom: 20px;		
    color: black;		
}

img#family{
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-radius: 10px;


}
figure{
    float: right;
    margin: 0 50px 10px 150px;
    
    
}

figcaption#family{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    
}
/* slutt på css for contact us*/
