body {
    background-color: #FAFEFE;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}


/* links */
a:link {
    color: #349292;
}

a:link:hover {
    color: #93D7D7;
}

a:visited {
    color: #D49F36;
}

a:visited:hover {
    color: #F4BF56;
}

/* navbar */
nav ul li {
    display: inline;
}

nav:after, header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 1em 2em;
    border: solid 1px black;
    background-color: #349292;
}

nav ul li a:link, nav ul li a:visited,
nav ul li a:link:hover, nav ul li a:visited:hover {
    color: white;
}

nav ul li a.current {
    font-weight: bold;
}

nav ul.level2 {
    display: inline;
    overflow: visible;
}

nav ul.level2:after, nav ul.level1:after {
    display: block;
    clear: both;
}

nav ul.level2 > li {
    float: left;
}

nav ul.level1 > li > a {
    float: left;
}

nav ul li {
    position: relative;
}

nav ul.level3 {
    position: absolute;
    padding-left: 0;
    top: 100%;
    left: 0px;
    z-index: 10;
    width: 150%;

    opacity: 0;
    display: none;
}

nav ul.level2 > li:hover > ul.level3 {
    opacity: 1;
    display: block;
}

nav ul.level3 li a {
    display: block;
}

#videoWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
#mainVideo {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: -1;
}
.centered{
    margin: auto;
}

#navbar {
    width: 100%;
    top: 200px;
    position: fixed;
    text-align: center;
}

#logo {
    width: 1074px;
    height: auto;
}
#bar {
    width: 100%;
    height: 42px;
    display: block;
    background-color: rgba(172, 216, 255, 0.5)
}

#navbar ul {
    width: 800;
    list-style-type: none;
}
#navbar li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    
}
#navbar li a {
    font-family: "Arvo", serif;
    list-style: none;
    text-align: center;
    display: block;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
#navbar li a:hover {
    background-color: aliceblue;
}
/* start på css for locations */
main#location section#locationDescription {
    width: 40%;
    margin-left: 1%;
    float: left;
}
main#location section#locationDescription ul {
    list-style: none;   
}
main#location section#locationDescription ul li {
    margin-bottom: 0.5em;
}
main#location section#locationDescription h1#locationName {
    letter-spacing: 1px;
}
main#location section#locationOrder {
    float:right;
    width: 50%;
    font-size: 10px;
}
main#location section#locationOrder section#locationOrderText {
    width: 35%;
}
main#location section#map {
    width: 50%;
    float: right;
}
main#location section#map img {
    display: block;
    max-height: 900px;
    max-width: 600px;
    height: 80%;
    width: 80%;
}
/* slutt på css for locations */