body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: url(background_image.jpeg);
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}


/* links */
a:link {
    color: #349292;
}

a:link:hover {
    color: #93D7D7;
}

a:visited {
    color: #D49F36;
}

a:visited:hover {
    color: #F4BF56;
}

/* navbar */
nav ul li {
    display: inline;
}

nav:after, header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 1em 2em;
    border: solid 1px black;
    background-color: #349292;
}

nav ul li a:link, nav ul li a:visited,
nav ul li a:link:hover, nav ul li a:visited:hover {
    color: white;
}

nav ul li a.current {
    font-weight: bold;
}

nav ul.level2 {
    display: inline;
    overflow: visible;
}

nav ul.level2:after, nav ul.level1:after {
    display: block;
    clear: both;
}

nav ul.level2 > li {
    float: left;
}

nav ul.level1 > li > a {
    float: left;
}

nav ul li {
    position: relative;
}

nav ul.level3 {
    position: absolute;
    padding-left: 0;
    top: 100%;
    left: 0px;
    z-index: 10;
    width: 150%;

    opacity: 0;
    display: none;
}

nav ul.level2 > li:hover > ul.level3 {
    opacity: 1;
    display: block;
}

nav ul.level3 li a {
    display: block;
}

#videoWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
#mainVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.centered{
    margin: auto;
}

#navbar {
    width: 100%;
    top: 200px;
    position: fixed;
    text-align: center;
}

#logo {
    width: 1074px;
    height: auto;
}
#bar {
    width: 100%;
    height: 42px;
    display: block;
    background-color: rgba(172, 216, 255, 0.5)
}

#navbar ul {
    width: 800;
    list-style-type: none;
}
#navbar li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    
}
#navbar li a {
    font-family: "Arvo", serif;
    list-style: none;
    text-align: center;
    display: block;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
#navbar li a:hover {
    background-color: aliceblue;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 110%;
}

img {
    border-radius: 20px;
}
/* CSS for collapse.css, hiding the content. */
.hide { 
    display:none; 
    border-radius: 5px;
    padding-left: 4px;
    border: solid 1px grey;
}
/* start på css for locations */
main#location section#locationDescription {
    width: 40%;
    margin-right: 6%;
    margin-left:2%;
    margin-top: 2%;
    float: left;
    background-color: rgba(190,190,190,0.2);
    border-radius: 15px;
    padding: 1%;
    
    
}
main#location section#locationDescription ul {
    list-style: none;   
}
main#location section#locationDescription ul li {
    margin-bottom: 0.5em;
}
main#location section#locationDescription h1#locationName {
    letter-spacing: 1px;
}
main#location section#locationOrder {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3px;
    float:left;
    width: 25%;
    font-size: 12px;
    background-color: rgba(190,190,190,0.2);
    border-radius: 15px;
    
}
main#location section#locationOrder section#locationOrderText {
    width: 100%;
}
main#location section#map {
    width: 50%;
    float: right;
}
main#location section#map img {
    display: block;
    max-height: 900px;
    max-width: 600px;
    height: 80%;
    width: 80%;
}
/* slutt på css for locations */
