body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: url(background_image.jpeg);
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}


/* links */
a:link {
    color: #349292;
}

a:link:hover {
    color: #93D7D7;
}

a:visited {
    color: #D49F36;
}

a:visited:hover {
    color: #F4BF56;
}

img {
    max-width: 100%;
}

/* navbar */
nav {
    margin: 0 auto;
    width: 100%;
    display: block;
    background-color: rgba(172, 216, 255, 0.7);
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    position: relative;
}

nav ul.level1 {
    margin: auto;
}

nav ul.level1 > li > a {
    background-image: url("img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(0,0,0,0) !important; /* TODO: find a way to do this without !important */
}

nav ul.level1 > li > a.current {
    display: none;
}

nav ul li {
    display: inline;
}

nav:after, header:after, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.clear {
    width: 100%;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 2px;
    border-radius: 15px;
}

nav ul li a:link, nav ul li a:visited,
nav ul li a:link:hover, nav ul li a:visited:hover {
    color: black;
    text-decoration: none;
    font-family: "Arvo", serif;
    text-align: center;
}

nav ul li a:link:hover, nav ul li a:visited:hover {
    background-color: aliceblue;
}

nav ul li a.current {
    font-weight: bold;
}

nav ul.level2 {
    display: inline-block;
    overflow: visible;
}

nav ul.level2:after, nav ul.level1:after {
    display: block;
    clear: both;
}

nav ul.level2 > li {
}

nav ul.level2 > li > a {
    width: 80px;
}

nav ul.level1 > li > a {
}

nav ul li {
    position: relative;
}

nav ul.level3 {
    position: absolute;
    top: 100%;
    left: -25%;
    z-index: 10;
    width: 150%;
    margin-top: 0px;
    opacity: 0;
    display: none;
}
nav ul.level3 a {
    margin-top: 8px;
    background-color: rgba(82,212,255,1);
    box-shadow: 0px 2px 2px #888888;
}
@media screen and (min-device-height: 800px) {
    nav ul.level2 > li:hover > ul.level3 {
        opacity: 1;
        display: block;
    }
}

nav ul.level3 li a {
    display: block;
}

#videoWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
#mainVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.centered{
    margin: auto;
}

#navbar {
    width: 100%;
    top: 200px;
    position: fixed;
    text-align: center;
}

#logo {
    width: 1074px;
    height: auto;
}
#bar {
    width: 100%;
    height: 42px;
    display: block;
    background-color: rgba(172, 216, 255, 0.5);
}

#navbar ul {
    width: 800;
    list-style-type: none;
}
#navbar li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    
}
#navbar li a {
    font-family: "Arvo", serif;
    list-style: none;
    text-align: center;
    display: block;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
#navbar li a:hover {
    background-color: aliceblue;
}

main#country p{margin: 10px;}
main#country #countryDescription{
    float: right;
    width: 40%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
main#country #countryMap{
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
main#country #countryMap img{
    display: block;
    max-width:1024px;
    max-height:767px;
    width: 100%;
    height: 100%;
}
main#country .countryLocation{
    width: 78%;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 10px;
    margin-top: 10px;
}
main#country #countryOrder{
    float: right;
    width: 20%;
    background-color: rgba(255,255,255,0.5);
    margin-top: 10px;
}
/* start på css for locations */

main#location {
    margin-top: 10px;
}
main#location section#locationDescription {
    width: 30%;
    margin-left:15%;
    padding: 1%;
    float: left;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    
}
main#location section#locationDescription ul {
    list-style: none;
}
main#location section#locationDescription ul li {
    margin-bottom: 0.5em;
}
main#location section#locationDescription h1#locationName {
    letter-spacing: 1px;
}
main#location section#locationOrder {
    width: 30%;
    margin-right: 15%;
    padding: 1%;
    float:right;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    
}
main#location section#locationOrder section#locationOrderText {
    width: 100%;
}
/* slutt på css for locations */


/* Start på css for contact us*/

main#contact {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;				
    background-color: rgba(255,255,255,0.5);		
    border-radius: 10px;		
    padding: 10px;		
    margin-bottom: 20px;		
    color: black;		
    font-size: 110%;
}
main#contact section#contactInfo {
    width: 40%;
    float: left;
}
main#contact section#FAQ{
    width: 40%;
    float: right;
}

/* CSS for collapse.css, hiding the content. */
.hide { 
    display:none; 
    border-radius: 5px;
    padding-left: 4px;
    border: solid 1px grey;
}
/* slutt på css for contact us*/

/* Start på css for about*/

main#about{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;				
    background-color: rgba(255,255,255,0.5);		
    border-radius: 10px;		
    padding-left: 50px;	
    padding-right: 50px;
    margin-bottom: 20px;		
    color: black;		
}

img#family{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: table; 

}

figcaption#family{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000080;
}
/* slutt på css for contact us*/